*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.metal.air
*.metallib
*.metallib.c
*.ptx
*.ptx.c
*.ptx.gz
*_g
\#*
.\#*
/.config
/.version
/ffmpeg
/ffplay
/ffprobe
/config.asm
/config.h
/config_components.h
/coverage.info
/lcov/
/src
/mapfile
/tools/python/__pycache__/
.vscode/launch.json
doc/infra.txt
libavcodec/aacdec.h
libavcodec/aacencdsp.h
libavcodec/dxv.h
libavcodec/hq_hqadata.h
libavcodec/lpc_functions.h
libavcodec/riscv/blockdsp_init.c
libavcodec/riscv/blockdsp_rvv.S
libavcodec/riscv/me_cmp_init.c
libavcodec/riscv/me_cmp_rvv.S
libavcodec/riscv/rv34dsp_init.c
libavcodec/riscv/rv34dsp_rvv.S
libavcodec/riscv/vp8dsp_init.c
libavcodec/riscv/vp8dsp_rvv.S
libavcodec/vulkan_video_codec_av1std_decode_mesa.h
libavcodec/vulkan_video_codec_av1std_mesa.h
libavcodec/vvc/vvc_intra_utils.c
libavcodec/x86/vvc/vvc_lmcs.asm
libavfilter/avfilter_internal.h
libavformat/aeadec.c
libavformat/aeaenc.c
libavformat/dvdclut.c
libavformat/dvdclut.h
libavformat/dvdvideodec.c
libavformat/iamf_reader.c
libavformat/iamf_reader.h
out.asm
out.mp4
tests/checkasm/rv34dsp.c
tests/checkasm/vvc_lmcs.c
tests/ref/fate/atrac-aea-remux
tests/ref/fate/atrac-matroska-remux
tests/ref/fate/dxv3-ycg6
tests/ref/fate/dxv3-yg10
tests/ref/fate/dxv3enc-dxt1
tests/ref/fate/ffmpeg-loopback-decoding
tests/ref/fate/matroska-side-data-pref-codec
tests/ref/fate/matroska-side-data-pref-packet
tests/ref/fate/mov-heic-demux-still-image-grid
tests/ref/fate/mov-heic-demux-still-image-iovl
tests/ref/fate/mov-heic-demux-still-image-iovl-2
tests/ref/fate/mov-mp4-iamf-5_1_4
tests/ref/fate/mov-mp4-iamf-7_1_4
tests/ref/fate/mov-mp4-iamf-ambisonic_1
tests/ref/fate/mov-mp4-iamf-stereo
tests/ref/lavf-fate/hevc.flv
tools/target_sws_fuzzer.c
